# {{ ansible_managed }}

{% for dummy in network_dummies %}
auto dummy{{ loop.index0 }}
iface dummy{{ loop.index0 }} inet static
        address {{dummy.address}}
        netmask {{dummy.network}}

{% endfor %}
